amqp==2.0.2
celery==3.1.18
simplejson==3.6.5
ldap3==0.9.8.4
django==1.7.8  # 1.8.2
djangorestframework==3.1.2
djangorestframework-bulk==0.2.1
django-filter==0.10.0
django-contrib-comments==1.6.1
django-cors-headers==1.1.0
django-celery==3.1.16
dj-database-url==0.3.0
gunicorn==19.3.0
psycopg2==2.6
requests==2.7.0
pytz
psutil==3.2.2
defusedxml==0.4.1
djangorestframework-xml==1.2.0
whitenoise==2.0.6
boto
